@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
@import 'https://fonts.googleapis.com/css?family=Baloo+Chettan';


body {
  margin: 0;
  background-color: rgb(65, 143, 184);
  font-family: 'Bungee Shade', cursive;
}

.main {
  width: 50%;
  margin: 50px auto;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}
td {
  width: 140px;
  height: 140px;
  border: 5px solid black;
  font-size: 80px;
  color: black;
  text-align: center;
  margin: 20px;
  padding: 0px;
}

#pop_background {
	position: fixed;
	width: 100%;
	height: 1000px;
	top: 0;
	left: 0;
	background: #000;
	opacity: .8;
	z-index: 1000;
	cursor: pointer;
	display: none;
}

#pop_box {
	position: fixed;
	background: black;
	width: 30%;
	height: 250px;
	margin: 15px 0 0 35%;
	padding: 20px;
	z-index: 1500;
	display: none;
	background-size: cover;
	text-align: center;
	color: rgb(65, 143, 184);
	font-size: ; 24px;
	font-family: 'Baloo Chettan', cursive;
	cursor: pointer;
  border-radius: 10px;
}

.X {
  margin-top: 100px;
  background-color: rgb(65, 143, 184);
  color: black;
  width: 80px;
  height: 50px;
  margin: 10px;
  margin-top: 20px;
}

.O {
  margin-top: 100px;
  background-color: rgb(65, 143, 184);
  color: black;
  width: 80px;
  height: 50px;
  margin: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 850px) {
  #pop_box {
    width: 80%;
    margin: 10%;
  }
  
  .main {
    width: 80%;
    margin: auto;
  }
  td {
    font-size: 70px;
  }
}


@media screen and (max-width: 500px) {
  #pop_box {
    margin: 0;
    width: 100%;
    font-size: 24px;
  }
  
  .main {
    width: 100%;
  }
  
  td {
    width: 33%;
    height: 100px;
    font-size: 50px;
  }

}