/* Font Styles */


/* Base Styles */






@media screen and (max-width: 992px) {
  #pop_box {
    width: 80%;
    margin: 10%;
  }
  
  .main {
    width: 80%;
    margin: auto;
  }
  td {
    font-size: 70px;
  }
}


@media screen and (max-width: 480px) {
  #pop_box, #game_box {
    margin: 0;
    width: 100%;
    font-size: 24px;
  }
  
  .main {
    width: 100%;
  }
  
  td {
    width: 33%;
    height: 100px;
    font-size: 50px;
  }

}



