@include font-face('Bungee+Shade');
@include font-face('Baloo+Chettan');

body {
  font-family: $stack-bungee;
}

td {
  @include font(80px, $color: $black);
  @extend %centered;
  @media #{$break-laptop} {
  	font-size: 70px;
  }
  @media #{$break-phone} {
  	font-size: 50px;
  }
}

#pop_box, #game_box {
  @extend %centered;
  @include font(20px, $color: $turquoise);
  font-family: $stack-baloo;
}

.symbol, .answer {
  font-family: $stack-baloo;
  font-size: inherit;
  color: $black;
}

